.pill-button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  .pill-button img {
      width: 32px;
      height: 32px;
  }
  .submit-button{
      background-color: #45aaf2;
      color: black;
      font-size: 14px;
      font-weight: bold;
    width: 400px;
    height: 40px;
    border: 1px solid  #45aaf2;
  }
  .error-text{
      color: red;
      font-size: 12px;
  }